@media(max-width: 1600px) {
    .d-1600 {
        display: none;
    }

    .footer__col {
        width: 25%;
    }
}

@media(max-width: 1400px) {
    .single__imgWrapper {
        width: 30%;
    }

    .single__content {
        width: 65%;
    }

    .single__header__title {
        font-size: 21px;
    }

    .single__header__price {
        font-size: 26px;
    }
}

@media(max-width: 1200px) {
    .searchForm {
        display: none;
    }

    .siteHeader__bottom__btn,
    .siteMenu__link {
        font-size: 12px;
    }

    .siteHeader__bottom__btn__img {
        width: 20px;
        height: auto;
    }

    .siteHeader__companyLink__img {
        width: 100px;
        height: auto;
    }

    .aboutProducent__text, .aboutProducent__text2 {
        font-size: 14px;
    }

    .advantages, .iconsSection__main {
        width: var(--siteWidth);
    }

    .productsRow__main {
        display: flex;
        flex-wrap: wrap;
    }

    .productsRow__main__item--1200 {
        display: none;
    }

    .footer__col__header {
        font-size: 15px;
    }

    .footer__col__list__item {
        padding: 5px 0;
        font-size: 13px;
    }

    .button--newsletter {
        font-size: 12px;
    }

    .footer__col {
        width: 20%;
    }

    .footer__col:nth-of-type(4) {
        width: 30%;
    }
}

@media(max-width: 996px) {
    .productsRow__main__item--996 {
        display: none;
    }

    .footer .footer__col {
        width: 50%;
        margin-bottom: 40px;
    }

    .footer__col * {
        text-align: center;
    }

    .footer__newsletter {
        max-width: 350px;
        margin: 20px auto;
    }

    .single {
        justify-content: center;
    }

    .single__imgWrapper, .single__content {
        width: 100%;
        max-width: 800px;
        margin-bottom: 25px;
    }
}

@media(max-width: 768px) {
    .d-desktop {
        display: none;
    }

    .d-mobile {
        display: block;
    }

    .advantagesDivider,
    .productsRow::before {
        display: none;
    }

    .aboutProducent .flex,
    .productsRow__main {
        flex-direction: column;
        align-items: center;
    }

    .productsRow__main__item {
        width: 80%;
        max-width: 350px;
        margin-bottom: 30px;
    }

    .aboutProducent .flex .aboutProducent__text {
        margin-left: 0;
        margin-top: 40px;
    }

    .iconsSection {
        background: #fff;
    }

    .advantages, .iconsSection__main {
        flex-direction: column;
    }

    .advantages__item {
        width: 60%;
        max-width: 300px;
        margin-bottom: 60px;
    }

    .advantages__header {
        font-size: 17px;
        margin: 20px 0;
    }

    .aboutProducent__text2 {
        margin-top: 30px;
    }

    .footer .footer__col {
        width: 100%;
    }

    .siteHeader__top {
        margin-top: 5px;
        justify-content: center;
    }

    .siteHeader__top__header {
        text-align: center;
        margin-top: 5px;
        font-size: 12px;
    }

    .siteHeader__hamburgerMenu {
        width: 40px;
        height: auto;
        background: transparent;
        border: none;
        outline: none;
    }

    .hamburgerMenu__img {
        width: 100%;
    }

    .hero {
        width: 100%;
        margin: 40px auto;
    }

    .banner__img {
        height: 250px;
    }

    .siteHeader__companyLink__img {
        width: 60px;
    }

    .siteHeaderMobile,
    .siteHeader__bottom {
        padding-bottom: 20px;
        border-bottom: 1px solid #DEDEDE;
    }

    .siteHeader__bottom {
        margin-top: 15px;
    }

    .siteHeaderMobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: var(--siteWidth);
        margin: auto;
        padding-top: 20px;
    }

    .siteHeaderMobile__link {
        width: 30px;
        height: auto;
    }

    .siteHeaderMobile__link__img {
        width: 100%;
        height: auto;
    }

    .loginForm, .afterLoginForm {
        width: 100%;
        margin-top: 10px;
    }

    .login__header {
        font-size: 17px;
        margin-top: 40px;
    }

    .login {
        margin: 20px auto 40px;
    }

    .button--singleAddToCart {
        font-size: 17px;
    }

    .single__header__title, .single__header__price {
        font-size: 15px;
    }

    .single__header__title {
        max-width: 75%;
    }

    .button--singleAddToCart {
        height: 50px;
    }

    .single__info {
        padding: 10px;
    }
}

@media(max-width: 576px) {
    .footer__newsletter {
        max-width: 80vw;
    }

    .label__icon {
        margin-right: 12px;
    }

    .form__flex {
        flex-direction: column;
        margin-top: -25px;
    }

    .form__flex .label {
        width: 100% !important;
        margin: 15px auto !important;
    }

    .filterBetween:first-of-type {
        margin-left: 0;
    }

    .addedToCart__buttons {
        flex-direction: column;
        align-items: center;
    }

    .addedToCart__header {
        font-size: 17px;
    }

    .button--addedToCart {
        width: 80%;
        margin-top: 15px;
    }
}
