/* Global */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --brown: #976C2B;
    --red: #E20000;
    --lightGrey: #BBBBBB;
    --darKGrey: #6D6D6D;
    --darkWhite: #F8F8F8;

    --siteWidth: clamp(200px, 90vw, 1600px);
    --siteWidthNarrow: clamp(200px, 75vw, 1500px);
}

h1, h2, h3, h4, h5, h6, p, label, button, a, li, span, textarea {
    font-family: 'Open sans', sans-serif;
}

button, a {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    border-top: 5px solid var(--brown);
    overflow-x: hidden;
}

.d-mobile {
    display: none;
}

/* Header */
.siteHeader {
    width: var(--siteWidth);
    margin: auto;
}

.siteHeader__caloeLogo {
    width: clamp(50px, 25vw, 300px);
    height: auto;
}

.siteHeader__top {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.siteHeader__top__header {
    color: var(--darKGrey);
    font-size: 14px;
    font-weight: 400;
}

.siteHeader__top__fb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #6D6D6D;
    font-size: 12px;
    opacity: .75;
    transition: .3s all;
}

.siteHeader__top__fb:hover {
    opacity: 1;
}

.siteHeader__top__fb__img {
    margin-left: 15px;
}

.siteHeader__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.siteHeader__bottom__subsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchForm {
    margin-left: 90px;
}

.label--search {
    border-bottom: 1px solid var(--brown);
}

.input--search {
    border: none;
    outline: none;
    font-size: 14px;
}

.input--search::placeholder {
    color: #6D6D6D !important;
}

.searchForm__btn {
    background: transparent;
    border: none;
    outline: none;
}

.siteHeader__bottom__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
}

.siteHeader__bottom__btn__img {
    margin-bottom: 10px;
}

.siteHeader__bottom__btn:first-of-type {
    margin-right: 50px;
    position: relative;
}

.siteHeader__bottom__btn:first-of-type::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 1px;
    background: var(--lightGrey);
}

/* Site menu */
.siteMenu {
    width: var(--siteWidth);
    margin: 40px auto;
}

.siteMenu__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
}

.siteMenu__link {
    font-weight: 700;
    font-size: 15px;
    transition: .2s all;
}

.siteMenu__link:hover {
    opacity: .8;
}

/* Hero section */
.hero {
    margin: auto;
    width: var(--siteWidth);
    position: relative;
}

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner__img {
    width: 100%;
}

.hero__btn {
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    outline: none;
    opacity: .7;
    transition: .2s all;
}

.hero__btn:hover {
    opacity: 1;
}

.hero__btn__img {
    width: 30px;
    height: auto;
}

.hero__btn--prev {
    left: 2%;
}

.hero__btn--prev .hero__btn__img {
    transform: rotate(180deg);
}

.hero__btn--next {
    right: 2%;
}

/* Section */
.section {
    width: var(--siteWidth);
    margin-left: auto;
    margin-right: auto;
}

/* Products row */
.productsRow {
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 30px;
}

.productsRow:first-of-type::before {
    content: "";
    position: absolute;
    background: var(--darkWhite);
    width: 100%;
    height: 700px;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.sectionHeader {
    width: var(--siteWidth);
    margin: auto;
    position: relative;
    border-bottom: 1px solid var(--lightGrey);
}

.sectionHeader__h {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 15px;
    width: fit-content;
    width: -moz-max-content;
}

.sectionHeader__h::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--brown);
}

.productsRow__main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 7%;
    margin: 40px auto;
    width: var(--siteWidth);
}

.productsRow__main__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.homepage .productsRow__main__item {
    margin-bottom: 10px;
}

@media(min-width: 1200px) {
    .productsRow__main__item {
        height: 450px;
    }
}

@media(min-width: 1600px) {
    .productsRow__main__item {
        height: 500px;
    }
}

.productsRow__item__title {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

.productsRow__item__subtitle {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.productsRow__item__prices {
    display: flex;
    margin: 15px auto;
    justify-content: center;
    align-items: flex-start;
}

.productsRow__item__imgWrapper {
    background: #fff;
    border: 1px solid #BBBBBB;
    width: 100%;
    padding: 30px 10px;
    position: relative;
}

.productsRow__item__img {
    width: 100%;
}

.price {
    color: var(--red);
    font-size: 20px;
    font-weight: 700;
}

.priceBeforeDiscount {
    font-size: 13px;
    text-decoration: line-through;
    margin-right: 12px;
}

.addToCartBtn {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: var(--brown);
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 12px;
    transition: .3s all;
}

.addToCartBtn:hover {
    background: #854B19;
}

/* About producent */
.aboutProducent__logo {
    width: 220px;
    height: auto;
}

.aboutProducent__text {
    margin-left: 10%;
}

.aboutProducent__text2 {
    margin-top: 60px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutProducent__content {
    margin: 40px 0;
}

.aboutProducent__contentHeader {
    margin-bottom: 20px;
}

/* Advantages */
.advantages {
    width: var(--siteWidthNarrow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px auto 30px;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17%;
}

.advantages__img {
    width: 60%;
    height: auto;
}

.advantages__header {
    margin: 30px 0;
    color: var(--brown);
    text-align: center;
    text-transform: uppercase;
}

.advantages__text {
    font-size: 14px;
    text-align: center;
}

.advantagesDivider {
    width: 1px;
    height: 50px;
    background: #BBBBBB;
    display: block;
}

/* Icons section */
.iconsSection {
    padding: 50px 0;
    margin: 50px 0;
    background: #F8F8F8;
}

.iconsSection__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: var(--siteWidthNarrow);
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: var(--siteWidth);
    border-top: 3px solid var(--brown);
    padding: 30px 0 0;
    margin: auto;
}

.footer__col {
    width: 17%;
}

.footer__bottom {
    width: 100%;
    margin: 20px 0 0;
    padding: 10px 0;
    border-top: 1px solid #BBBBBB;
}

.footer__col--right * {
    text-align: right;
}

.footer__col__header {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer__col__list {
    list-style-type: none;
}

.footer__col__list__item {
    padding: 8px 0;
}

.footer__col__list__link {
    color: #000;
    text-decoration: none;
    transition: .2s all;
}

.footer__col__list__link:hover {
    color: var(--brown);
}

.footer__newsletter {
    border-bottom: 1px solid var(--brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.footer__newsletter__icon {
    width: 20px;
    height: auto;
    margin-right: 15px;
}

.input--newsletter {
    border: none;
    outline: none;
    width: 140px;
    padding-right: 10px;
}

.button--newsletter {
    font-size: 13px;
    text-transform: uppercase;
    background: var(--brown);
    color: #fff;
    display: block;
    width: 122px;
    height: 25px;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 5px;
    transition: .2s all;
}

.button--newsletter:hover {
    background: #854B19;
}

.newsletterResponse {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
}

.footer__bottom__header {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.footer__bottom__header a {
    color: var(--brown);
}

/* Login page */
.login, .register {
    width: var(--siteWidth);
    margin: 30px auto 90px;
}

.login__header {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 80px auto 10px;
}

.loginForm {
    width: 650px;
    margin: 25px auto 5px;
}

.form__inner {
    padding: 10px 20px;
    border: 1px solid #BBBBBB;
    margin-bottom: 15px;
}

.afterLoginForm {
    display: flex;
    width: 650px;
    justify-content: space-between;
    align-items: center;
}

.afterLoginForm {
    display: block;
    width: 650px;
    color: #BBBBBB;
    font-size: 14px;
    text-align: center;
    margin: 10px auto;
    text-decoration: underline;
}

.label {
    border-bottom: 1px solid var(--brown);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 500px;
    margin: 30px auto;
    padding: 15px 0;
}

.input {
    outline: none !important;
    border: none;
}

.label__icon {
    width: 20px;
    height: auto;
    margin-right: 30px;
}

.button {
    color: #fff;
    text-transform: uppercase;
    background: var(--brown);
    border: none;
    outline: none;
    transition: .2s all;
}

.button:hover {
    background: #854B19;
}

.button--submit {
    width: 100%;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.button--submit--disabled {
    background: var(--brown) !important;
    cursor: default;
}

/* Register page */
.registerForm {
    margin: 50px auto;
    max-width: 650px;
}

.label--vat a {
    margin: 0 5px;
}

.registerForm .form__inner {
    margin-bottom: 25px;
}

.form__inner__header {
    max-width: 500px;
    text-transform: uppercase;
    font-size: 15px;
    margin: 20px auto 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #BBBBBB;
}

.form__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 0 auto 30px;
}

.form__flex .label {
    margin: 0 20px 0 0;
}

.form__flex .label:first-of-type {
    width: 30%;
}

.form__flex .label:last-of-type {
    width: 60%;
}

.checkBtn {
    width: 15px;
    height: 15px;
    border: 1px solid var(--brown);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.checkBtn--check {
    width: 60%;
    height: 60%;
    background: var(--brown);
    display: block;
}

.label--vat {
    margin: 20px 0;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

/* Shop page */
.shopFilters {
    width: var(--siteWidth);
    margin: 20px auto;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(187, 187, 187, .5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filterSection--second {
    margin-left: 30px;
}

.shop .label, .search .label {
    margin: 0;
    padding: 0 0 5px;
    width: 240px;
}

.shopFilters__buttons--extraMargin {
    margin: 25px 0 20px !important;
}

.shopFilters__header {
    font-weight: 400;
    font-size: 14px;
}

.shopFilters__buttons .searchForm__icon {
    position: absolute;
    right: 0;
    top: 0;
}

.shopFilters__buttons {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.shopFilters__buttons .label--vat {
    margin-right: 30px;
}

.shop .productsRow__main__item  {
    margin-bottom: 60px;
}

.aboutProducent--shop {
    background: #F8F8F8;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 30px;
}

.aboutProducent--shop::before,
.aboutProducent--shop::after {
    content: "";
    position: absolute;
    top: 0;
    width: 30vw;
    height: 100%;
    background: #F8F8F8;
}

.aboutProducent--shop::before {
    left: 0;
    transform: translateX(-100%);
}

.aboutProducent--shop::after {
    right: 0;
    transform: translateX(100%);
}

.label--price {
    margin: 0;
    height: 40px;
    padding-bottom: 2px;
}

.label--price .input {
    width: 70px;
    text-align: center;
}

.filterBetween {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    font-size: 14px;
}

.filterRange {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.shop__inner {
    margin: 50px auto;
}

.button--emptySearch {
    width: 300px;
    max-width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* Added to cart */
.addedToCart {
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    opacity: 0;
    /*display: none;*/
    transition: .5s all;
}

.addedToCart__inner {
    width: 500px;
    padding: 40px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.addedToCart__img {
    width: 100px;
    height: auto;
}

.addedToCart__header {
    text-align: center;
    font-size: 21px;
    margin: 25px auto;
}

.addedToCart__buttons {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    max-width: 350px;
}

.button--addedToCart {
    font-size: 14px;
    padding: 5px;
    width: 48%;
    text-align: center;
}

.addedToCart__close {
    border: none;
    outline: none;
    background: #AFAFAF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .85;
    transition: .2s all;
}

.addedToCart__close:hover {
    opacity: 1;
}

.addedToCart__close__img {
    width: 40%;
    height: auto;
}

/* Single product */
.single {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: var(--siteWidth);
    margin: 40px auto;
}

.productNotAvailable {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: #941212;
}

.single__imgWrapper {
    border: 3px solid #BBBBBB;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.single__img {
    width: 80%;
    height: auto;
}

.single__content {
    width: 55%;
}

.single__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BBBBBB;
}

.single__header__price__crossed {
    color: #CCCCCC;
    font-weight: 500;
    font-size: 24px;
    padding-right: 25px;
    text-decoration: line-through;
}

.single__header__title {
    position: relative;
    font-size: 24px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.single__header__title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -1px;
    background: var(--brown);
}

.single__header__price {
    color: #E20000;
    font-size: 32px;
    flex-basis: 60%;
    text-align: right;
}

.single__info {
    background: #F8F8F8;
    padding: 25px;
    margin: 25px 0;
}

.single__info__header {
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #BBBBBB;
}

.single__info__p {
    margin: 15px 0 25px;
    font-size: 14px;
}

.button--singleAddToCart {
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 21px;
}

.singleWrapper {
    margin: 40px auto;
}

/* Cart */
.cart {
    width: var(--siteWidth);
    margin: 50px auto;
}

.button--emptyCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-width: 90%;
    height: 50px;
    font-weight: 700;
    margin: 40px 0 200px;
}

.removeFromCartBtn__img {
    width: 100%;
    height: auto;
}

.cart__header {
    font-weight: 500;
    font-size: 26px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(106, 106, 106, .25);
}

.cart__content {
    padding: 30px;
    margin-top: 30px;
}

.cart__item {
    height: 180px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(106, 106, 106, .25);
    position: relative;
}

.cart__item__imgWrapper {
    height: 100%;
    width: auto;
    align-items: center;
    transition: .4s all;
}

.cart__item__img {
    border: 2px solid #fff;
    height: 100%;
    width: auto;
}

.cart__item__title {
    font-weight: 400;
    font-size: 17px;
    margin-left: 30px;
}

.cart__item__amount {
    font-size: 13px;
    text-transform: uppercase;
}

.cart__item__input {
    border: 1px solid #6A6A6A;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 15px;
}

.cart__item .cart__item__key {
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.cart__item .cart__item__value {
    font-size: 15px !important;
    font-weight: 700;
    text-align: center;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__item__sum .cart__item__value {
    margin-bottom: -3px;
}

.cart__item__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.removeFromCartBtn {
    background: transparent;
    border: none;
    outline: none;
}

.cart__item__price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cart__item__price .cart__item__value {
    color: #E20000;
    margin-left: 30px;
}

.cart__item__price .cart__item__value {
    font-size: 32px;
}

.cart__item__price .cart__item__key {
    font-size: 21px;
    text-transform: uppercase;
}

.cart__item .cart__item__price {
    flex-direction: column;
}

.button--cart {
    width: 100%;
    margin: 30px 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.cart__item__amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart__item__input {
    margin-left: 0;
}

.cart__item__price--value .cart__item__value {
    margin-left: 0;
}

/* Shipping and payment */
.shippingAndPayment {
    width: var(--siteWidth);
    margin: 40px auto;
}

.shippingAndPayment .label .input {
    width: 80%;
}

.error {
    color: #E20000;
}

.error--shippingAndPayment {
    font-size: 13px;
    display: block;
    max-width: 500px;
    margin: auto;
}

.shippingAndPayment__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 0;
    flex-wrap: wrap;
}

.shippingAndPayment__form__section {
    width: 40%;
    margin-right: 40px;
    max-width: 600px;
}

.shippingAndPayment .form__inner .label--vat {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.textarea {
    border: 1px solid var(--brown);
    padding: 15px;
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    margin: 20px auto;
    max-width: 500px;
    display: block;
}

.form__inner__header--extraMargin {
    margin-top: 40px;
}

.button--coupon {
    padding: 3px 15px;
}

.label--coupon {
    max-width: 300px;
    margin: 0;
    padding: 7px 0;
}

.label--section {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
}

.button--shippingAndPayment {
    width: 100%;
    height: 60px;
    font-weight: 700;
    font-size: 18px;
}

.shippingAndPayment .cart__item__price {
    margin-bottom: 25px;
}

.shippingAndPayment .cart__item__price .cart__item__value {
    margin-bottom: -3px;
}

/* TY page */
.tyPage {
    width: var(--siteWidth);
    margin: 40px auto;
}

.button--ty {
    width: 400px;
    height: 50px;
    margin: 30px auto 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.tyPage__header {
    text-align: center;
    font-size: 24px;
    margin: 40px auto;
}

.tyPage__header--noMarginTop {
    margin-top: 0;
}

/* Page */
.page {
    width: var(--siteWidth);
    margin: 50px auto;
}

.page article {
    margin: 50px 0;
}

.label {
    position: relative;
}

.formError {
    position: absolute;
    bottom: -5px;
    transform: translateY(100%);
    left: 0;
    width: 100%;
    height: 100%;
    color: #E20000;
    font-size: 12px;
}

.error--login {
    color: #E20000;
    text-align: center;
    font-size: 13px;
    display: block;
    margin: 10px auto;
}

.couponInfo {
    font-size: 12px;
    font-weight: 400;
}

.clientForm__shippingHeader {
    text-align: right;
    margin: 10px 0;
}

.clientForm__shippingHeader b {
    color: #E20000;
}

/* InPost */
#paczkomatyMapa {
    width: 90%;
    height: 90%;
    margin: auto;
}

.inPostAddress {
    color: #fff;
    margin-left: 40px;
    font-size: 14px;
    font-style: italic;
}

.modalClose {
    background: #BBBBBB;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalClose img {
    width: 40%;
}

.ReactModal__Overlay {
    background: rgba(0, 0, 0, .5) !important;
}

/* My account */
.myAccount {
    width: var(--siteWidth);
    margin: 50px auto;
}

.myAccount__inner {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.myAccount__section--orders {
    width: 60%;
}

.myAccount__section--data {
    width: 37%;
}

.myAccount__section .form__inner__header {
    max-width: 100%;
}

.form__inner__header {
    position: relative;
}

.button--myAccount {
    padding: 2px 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.myAccount .label, .myAccount .form__flex {
    max-width: 100%;
}

.myAccount .form__flex .label:last-of-type {
    margin-right: 0;
}

.myAccount .form__inner {
    padding: 15px 30px;
}

.changePasswordResult {
    text-align: center;
    margin: 50px auto;
    display: block;
    font-size: 15px;
}

.button--logout {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 10px;
}

.singleOrder, .singleSell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin: 15px 0;
    border-bottom: 1px solid #BBBBBB;
}

.singleOrder__item__button {
    background: transparent;
    display: block;
    margin: 5px auto 0;
    border: none;
    outline: none;
}

.singleOrder__item__button__img {
    width: 20px;
    height: auto;
}

.singleOrder__item__img {
    height: 100px;
    width: auto;
}

.singleOrder__paymentLink {
    font-size: 12px;
    text-transform: uppercase;
    margin: 5px auto;
    display: block;
    border: 1px solid var(--brown);
    padding: 3px;
}

.rotate180 {
    transform: rotateX(180deg);
}

.singleOrder__item__key {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.singleOrder__item__value {
    font-size: 14px;
    text-align: center;
}

.noOrdersHeader {
    margin: 40px 0;
}

.product__discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 30px;
    background: #E20000;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.label--checkbox {
    display: block;
    margin: 20px 0;
    font-size: 12px;
    cursor: pointer;
}

input[type=checkbox] {
    margin-right: 15px;
}

.uppercase {
    text-transform: uppercase;
}

.green {
    color: #50AC30;
}

.orange {
    color: #FFA500;
}

.red {
    color: #941212;
}

/* Start baner */
.baner {
    background: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    transition: .4s all;
}

.baner__inner {
    width: clamp(200px, 80vw, 600px);
    padding: 50px 30px;
    background: #fff;
    border: 2px solid #976C2B;
    position: relative;
}

.baner__inner__header {
    margin: 20px auto;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.baner__inner__header--gold {
    color: var(--brown);
    font-weight: 700;
}

.baner__inner__link {
    display: block;
    text-align: center;
    margin: auto;
    color: var(--brown);
    text-decoration: underline;
    font-weight: 700;
}
